openapi: 3.0.0
info:
  version: '3'
  title: Kitchen Stories Internal Articles Admin Tags API
  description: ''
  contact:
    email: hello@kitchenstories.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kitchenstories.io/api
  description: LIVE Environment
- url: https://api.dev.kitchenstories.io/api
  description: Development Environment
- url: http://localhost:8000/api
  description: Local Environment
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Tags
paths:
  /tags/:
    get:
      summary: List Tags
      operationId: tag-list
      tags:
      - Tags
      parameters:
      - name: hidden
        in: query
        description: Display hidden tags with `hidden=True`
        schema:
          type: string
      responses:
        '200':
          description: Get all tags
          content:
            application/vnd.ajns.kitchenstories+json; version=3:
              schema:
                $ref: '#/components/schemas/tag_pagination'
  /tags/{slug}/:
    get:
      summary: Details of given Tag
      operationId: tag-detail
      tags:
      - Tags
      parameters:
      - name: slug
        in: path
        description: Tag unique slug
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Get tag with the specified slug
          content:
            application/vnd.ajns.kitchenstories+json; version=3:
              schema:
                $ref: '#/components/schemas/tag'
        '404':
          description: Tag not found
components:
  schemas:
    tag:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        is_hidden:
          type: boolean
    tag_pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/links'
        meta:
          $ref: '#/components/schemas/meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/tag'
      required:
      - data
      - links
      - meta
    links:
      type: object
      properties:
        first:
          type: string
          format: uri
        last:
          type: string
          format: uri
        next:
          type: string
          format: uri
        prev:
          type: string
          format: uri
      required:
      - last
      - first
      additionalProperties: false
    meta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            pages:
              type: number
            count:
              type: number
            page:
              type: number
          required:
          - page
          - pages
          - count
          additionalProperties: false
      required:
      - pagination
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Ultron-User
