openapi: 3.0.0
info:
  version: '3'
  title: Kitchen Stories Internal Articles Admin Feed API
  description: ''
  contact:
    email: hello@kitchenstories.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kitchenstories.io/api
  description: LIVE Environment
- url: https://api.dev.kitchenstories.io/api
  description: Development Environment
- url: http://localhost:8000/api
  description: Local Environment
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Feed
paths:
  /feed/:
    get:
      summary: Get Feed
      operationId: feed-list
      tags:
      - Feed
      parameters:
      - name: simplified
        in: query
        description: Get simplified feed schema (first two items are unrolled, remaining are simplified)
        schema:
          type: boolean
      - name: order
        in: query
        description: Get first-time-feed with `order=featured`
        schema:
          type: string
      - name: date
        in: query
        description: Get preview- feed & poll with `date=2000-01-01T00:00`
        schema:
          type: string
      responses:
        '200':
          description: 'Get Feed the automated.tabs is an enum with these values: [''ks'', ''community'']

            '
          content:
            application/vnd.ajns.kitchenstories+json; version=3:
              schema:
                $ref: '#/components/schemas/feed_pagination'
  /feed-reduced/:
    get:
      summary: Get Reduced Feed
      operationId: feed-reduced-list
      tags:
      - Feed
      parameters:
      - name: date
        in: query
        description: Get preview- feed & poll with `date=2000-01-01T00:00`
        schema:
          type: string
      responses:
        '200':
          description: 'Get Reduced Feed (Only module display information) the automated.tabs is an enum with these values: [''ks'', ''community'']

            '
          content:
            application/vnd.ajns.kitchenstories+json; version=3:
              schema:
                $ref: '#/components/schemas/feed_reduced_pagination'
components:
  schemas:
    article_image_gallery:
      type: object
      properties:
        type:
          type: string
        image_collection:
          type: object
          properties:
            images:
              type: array
              items:
                type: object
                properties:
                  image:
                    $ref: '#/components/schemas/image'
                  link:
                    type: string
                  subtitle:
                    type: string
                required:
                - image
          required:
          - images
      required:
      - type
      - image_collection
    legacy_unit:
      type: object
      properties:
        id:
          type: string
        ingredient_pluralizable:
          type: boolean
        name:
          type: object
          properties:
            rendered:
              type: string
            one:
              type: string
            many:
              type: string
          required:
          - rendered
          additionalProperties: false
      required:
      - name
    poll:
      type: object
      properties:
        id:
          type: string
        content_id:
          type: string
        question:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/poll_vote'
        total_votes:
          type: number
      required:
      - total_votes
      - content_id
      - id
      - options
      - question
    links:
      type: object
      properties:
        first:
          type: string
          format: uri
        last:
          type: string
          format: uri
        next:
          type: string
          format: uri
        prev:
          type: string
          format: uri
      required:
      - last
      - first
      additionalProperties: false
    content_meta_markdown:
      type: object
      properties:
        markdown:
          type: string
          minLength: 1
          maxLength: 5000
      required:
      - markdown
    category_simplified:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        path:
          type: array
          items:
            $ref: '#/components/schemas/path_item'
        children:
          type: array
          items:
            $ref: '#/components/schemas/child_item'
      required:
      - slug
      - title
      - id
    collection_recipe:
      type: object
      properties:
        title:
          type: string
        subtitle:
          type: string
        type:
          type: string
        recipe:
          oneOf:
          - $ref: '#/components/schemas/recipe_simplified'
          - $ref: '#/components/schemas/recipe'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - title
      - recipe
    author_reduced:
      type: object
      properties:
        type:
          type: string
        author:
          $ref: '#/components/schemas/user_public_reduced'
      required:
      - author
      - type
    step:
      type: object
      properties:
        headline:
          type: string
        text:
          type: string
        tip:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            video:
              $ref: '#/components/schemas/video'
          required:
          - description
          - title
        image:
          $ref: '#/components/schemas/image'
        video:
          $ref: '#/components/schemas/video'
        utensils:
          type: array
          items:
            $ref: '#/components/schemas/recipe_utensil'
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/recipe_ingredient'
      required:
      - text
    recipe_simplified:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        content_id:
          type: string
        difficulty:
          type: string
        image:
          $ref: '#/components/schemas/image'
          nullable: true
        author:
          $ref: '#/components/schemas/user_public'
        url:
          type: string
          format: uri
        duration:
          type: object
          properties:
            preparation:
              type: number
            baking:
              type: number
            resting:
              type: number
          required:
          - preparation
          - resting
          - baking
          nullable: true
        user_reactions:
          type: object
          properties:
            rating:
              type: number
            rating_count:
              type: number
            images:
              type: array
              items:
                $ref: '#/components/schemas/comment_image'
              maxItems: 4
            comments_count:
              type: number
            images_count:
              type: number
            like_count:
              type: number
            quality:
              type: number
          required:
          - comments_count
          - images_count
          - like_count
          - quality
        publishing:
          type: object
          properties:
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            published:
              type: string
              format: date-time
            state:
              type: string
              enum:
              - draft
              - submitted
              - rejected
              - live
              - expired
              - scheduled
          required:
          - created
          - updated
          - state
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tag'
      required:
      - content_id
      - type
      - publishing
      - title
      - slug
      - url
      - user_reactions
      - author
      - id
    article_simplified:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        type:
          type: string
        content_id:
          type: string
        image:
          $ref: '#/components/schemas/image'
        author:
          $ref: '#/components/schemas/user_public'
        url:
          type: string
          format: uri
        publishing:
          $ref: '#/components/schemas/publishing'
        user_reactions:
          type: object
          properties:
            comments_count:
              type: number
            images_count:
              type: number
            like_count:
              type: number
            quality:
              type: number
          required:
          - comments_count
          - images_count
          - like_count
          - quality
      required:
      - content_id
      - type
      - publishing
      - title
      - slug
      - url
      - subtitle
      - user_reactions
      - author
      - id
      - image
    characteristic:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      additionalProperties: false
    additional_information:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      additionalProperties: false
    recipe_reduced:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        duration:
          type: object
          properties:
            preparation:
              type: number
            baking:
              type: number
            resting:
              type: number
          required:
          - preparation
          - resting
          - baking
          nullable: true
        image:
          $ref: '#/components/schemas/image'
          nullable: true
        author:
          $ref: '#/components/schemas/user_public_reduced'
        url:
          type: string
          format: uri
        user_reactions:
          type: object
          properties:
            like_count:
              type: number
          required:
          - like_count
        publishing:
          type: object
          properties:
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            published:
              type: string
              format: date-time
            state:
              type: string
              enum:
              - draft
              - submitted
              - rejected
              - live
              - expired
              - scheduled
          required:
          - created
          - updated
          - state
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tag'
        video:
          $ref: '#/components/schemas/video'
      required:
      - type
      - publishing
      - title
      - url
      - slug
      - user_reactions
      - author
      - id
    article:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        type:
          type: string
        content_id:
          type: string
        image:
          $ref: '#/components/schemas/image'
        author:
          $ref: '#/components/schemas/user_public'
        url:
          type: string
          format: uri
        publishing:
          $ref: '#/components/schemas/publishing'
        user_reactions:
          type: object
          properties:
            comments_count:
              type: number
            images_count:
              type: number
            like_count:
              type: number
            quality:
              type: number
          required:
          - comments_count
          - images_count
          - like_count
          - quality
        content:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/article_headline'
            - $ref: '#/components/schemas/article_quote'
            - $ref: '#/components/schemas/article_text'
            - $ref: '#/components/schemas/article_recipes'
            - $ref: '#/components/schemas/article_shopping_tips'
            - $ref: '#/components/schemas/article_image_gallery'
            - $ref: '#/components/schemas/article_video'
            - $ref: '#/components/schemas/content_meta_carousel'
            - $ref: '#/components/schemas/article_proscons'
            - $ref: '#/components/schemas/article_cta_button'
        meta:
          $ref: '#/components/schemas/wagtail_meta'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tag'
        content_meta:
          type: array
          items:
            $ref: '#/components/schemas/content_meta'
        categories:
          type: object
          properties:
            main:
              $ref: '#/components/schemas/category_simplified'
            additional:
              type: array
              items:
                $ref: '#/components/schemas/category_simplified'
      required:
      - content_id
      - type
      - publishing
      - title
      - content
      - slug
      - url
      - subtitle
      - meta
      - user_reactions
      - author
      - id
      - image
    size:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        metric:
          type: string
        imperial:
          type: string
      required:
      - id
      additionalProperties: false
    unit:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        featured_order:
          type: number
        ingredient_pluralizable:
          type: boolean
        name:
          type: object
          properties:
            one:
              type: string
            many:
              type: string
            rendered:
              type: string
          required:
          - rendered
          additionalProperties: false
      required:
      - id
      - name
      - ingredient_pluralizable
      - type
    feed_collection:
      type: object
      properties:
        type:
          type: string
        collection:
          type: object
          properties:
            title:
              type: string
            content:
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/collection_article'
                - $ref: '#/components/schemas/collection_recipe'
                - $ref: '#/components/schemas/collection_category'
                - $ref: '#/components/schemas/collection_shopping_tip'
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - title
          - content
          additionalProperties: false
      required:
      - type
      - collection
    image:
      type: object
      properties:
        id:
          oneOf:
          - type: string
          - type: number
        url:
          type: string
          format: uri
        source:
          type: string
        source_link:
          type: string
        width:
          type: number
        height:
          type: number
      required:
      - url
      additionalProperties: false
    search_category:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        content_id:
          type: string
        image:
          $ref: '#/components/schemas/image'
        icon:
          $ref: '#/components/schemas/image'
        description:
          type: string
        search:
          type: object
          properties:
            query:
              type: string
            filters:
              type: string
            index:
              type: string
        url:
          type: string
          format: uri
        publishing:
          $ref: '#/components/schemas/publishing'
        meta:
          $ref: '#/components/schemas/wagtail_meta'
      required:
      - content_id
      - publishing
      - title
      - url
      - slug
      - meta
      - description
      - id
      - image
      - icon
    feed_recipe_reduced:
      type: object
      properties:
        type:
          type: string
        recipe:
          $ref: '#/components/schemas/recipe_reduced'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - recipe
    feed_article_reduced:
      type: object
      properties:
        type:
          type: string
        article:
          $ref: '#/components/schemas/article_reduced'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - article
    feed_player:
      type: object
      properties:
        type:
          type: string
        player:
          type: object
          properties:
            title:
              type: string
            video_title:
              type: string
            video:
              $ref: '#/components/schemas/video'
            recipe:
              $ref: '#/components/schemas/recipe'
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - video_title
          - video
          - title
          additionalProperties: false
      required:
      - player
      - type
    article_cta_button:
      type: object
      properties:
        type:
          type: string
        cta_button:
          type: object
          properties:
            text:
              type: string
            link:
              type: string
          required:
          - text
          - link
      required:
      - cta_button
      - type
    collection_shopping_tip_reduced:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        subtitle:
          type: string
        shopping_tip:
          $ref: '#/components/schemas/article_reduced'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - shopping_tip
      - title
    article_headline:
      type: object
      properties:
        type:
          type: string
        headline:
          type: object
          properties:
            level:
              type: number
            text:
              type: string
          required:
          - level
          - text
      required:
      - type
      - headline
      additionalProperties: false
    author_carousel:
      type: object
      properties:
        title:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/author'
      required:
      - title
      - content
    feed_recipe:
      type: object
      properties:
        type:
          type: string
        recipe:
          oneOf:
          - $ref: '#/components/schemas/recipe_simplified'
          - $ref: '#/components/schemas/recipe'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - recipe
    feed_article:
      type: object
      properties:
        type:
          type: string
        article:
          oneOf:
          - $ref: '#/components/schemas/article_simplified'
          - $ref: '#/components/schemas/article'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - article
    feed_link:
      type: object
      properties:
        type:
          type: string
        link_module:
          type: object
          properties:
            title:
              type: string
            link:
              type: string
            image:
              $ref: '#/components/schemas/image'
            image_dark_mode:
              $ref: '#/components/schemas/image'
            hide_for_premium:
              type: boolean
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - image
          - link
          - title
          additionalProperties: false
      required:
      - type
      - link_module
    recipe_utensil:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        name:
          type: object
          properties:
            rendered:
              type: string
            one:
              type: string
            many:
              type: string
          required:
          - rendered
          additionalProperties: false
        characteristic:
          $ref: '#/components/schemas/characteristic'
        additional_information:
          $ref: '#/components/schemas/additional_information'
        size:
          $ref: '#/components/schemas/size'
      required:
      - name
    feed_collection_reduced:
      type: object
      properties:
        type:
          type: string
        collection:
          type: object
          properties:
            title:
              type: string
            content:
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/collection_article_reduced'
                - $ref: '#/components/schemas/collection_recipe_reduced'
                - $ref: '#/components/schemas/collection_shopping_tip_reduced'
                - $ref: '#/components/schemas/collection_category'
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - title
          - content
          additionalProperties: false
      required:
      - type
      - collection
    user_public_reduced:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        type:
          type: string
        new_type:
          type: string
        image:
          $ref: '#/components/schemas/image'
          nullable: true
      required:
      - id
      - name
      - slug
    youtube_player:
      type: object
      properties:
        type:
          type: string
        youtube_video_player:
          type: object
          properties:
            title:
              type: string
            subtitle:
              type: string
            remote_id:
              type: string
            remote_id_type:
              type: string
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - remote_id_type
          - title
          - remote_id
          additionalProperties: false
      required:
      - type
      - youtube_video_player
    article_proscons:
      type: object
      properties:
        type:
          type: string
        proscons:
          type: object
          properties:
            pros_title:
              type: string
            pros:
              type: string
            cons_title:
              type: string
            cons:
              type: string
          required:
          - pros
          - pros_title
          - cons
          - cons_title
      required:
      - type
      - proscons
    meta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            pages:
              type: number
            count:
              type: number
            page:
              type: number
          required:
          - page
          - pages
          - count
          additionalProperties: false
      required:
      - pagination
      additionalProperties: false
    comment_image:
      type: object
      properties:
        comment:
          type: string
        author:
          $ref: '#/components/schemas/user_public'
        original_location:
          type: string
        image:
          $ref: '#/components/schemas/image'
        created:
          type: string
          format: date-time
      required:
      - author
      - created
      - image
      - original_location
      - comment
    content_meta_faq:
      type: object
      properties:
        question:
          type: string
          minLength: 1
          maxLength: 500
        answer:
          type: string
          minLength: 1
          maxLength: 5000
      required:
      - answer
      - question
    child_item:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        path:
          type: array
          items:
            $ref: '#/components/schemas/path_item'
        slug:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/child_item'
      required:
      - id
      - slug
      - title
    article_text:
      type: object
      properties:
        type:
          type: string
        text:
          type: object
          properties:
            text:
              type: string
          required:
          - text
      required:
      - text
      - type
      additionalProperties: false
    article_recipes:
      type: object
      properties:
        type:
          type: string
        recipes:
          type: object
          properties:
            recipes:
              type: array
              items:
                $ref: '#/components/schemas/recipe_simplified'
          required:
          - recipes
      required:
      - recipes
      - type
    collection_shopping_tip:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        subtitle:
          type: string
        shopping_tip:
          $ref: '#/components/schemas/article'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - shopping_tip
      - title
    collection_article:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        subtitle:
          type: string
        article:
          oneOf:
          - $ref: '#/components/schemas/article_simplified'
          - $ref: '#/components/schemas/article'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - title
      - article
      - subtitle
    feed_automated:
      type: object
      properties:
        type:
          type: string
        automated:
          type: object
          properties:
            title:
              type: string
            content:
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/feed_article'
                - $ref: '#/components/schemas/feed_recipe'
            tabs:
              type: array
              items:
                type: string
            search:
              type: object
              properties:
                filters:
                  type: string
                index:
                  type: string
                query:
                  type: string
              required:
              - filters
              - index
              additionalProperties: false
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - title
          - content
          - search
          additionalProperties: false
      required:
      - automated
      - type
    author:
      type: object
      properties:
        type:
          type: string
        author:
          $ref: '#/components/schemas/user_public'
      required:
      - author
      - type
    video:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        content_id:
          type: string
        remote_id:
          type: string
        url:
          type: string
          format: uri
        recipe_url:
          type: string
          format: uri
        width:
          type: number
        height:
          type: number
        duration:
          type: number
        image:
          $ref: '#/components/schemas/image'
        meta:
          $ref: '#/components/schemas/wagtail_meta'
        publishing:
          type: object
          properties:
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            published:
              type: string
              format: date-time
            state:
              type: string
            playback-state:
              type: string
              enum:
              - not-playable
              - processing
              - ready
          required:
          - created
          - updated
          - state
          - playback-state
        user_reactions:
          type: object
          properties:
            view_count:
              type: number
          required:
          - view_count
      required:
      - content_id
      - duration
      - title
      - id
      - slug
      - meta
    link_collection:
      type: object
      properties:
        type:
          type: string
        link_collection:
          type: object
          properties:
            title:
              type: string
            sponsored:
              type: boolean
            content:
              type: array
              items:
                $ref: '#/components/schemas/feed_link'
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - sponsored
          - title
          - content
          additionalProperties: false
      required:
      - link_collection
      - type
    categories_collection:
      type: object
      properties:
        type:
          type: string
        categories_collection:
          type: object
          properties:
            title:
              type: string
            content:
              type: array
              items:
                $ref: '#/components/schemas/collection_category'
          required:
          - title
          - content
          additionalProperties: false
      required:
      - categories_collection
      - type
    feed_player_reduced:
      type: object
      properties:
        type:
          type: string
        player:
          type: object
          properties:
            title:
              type: string
            video_title:
              type: string
            video:
              $ref: '#/components/schemas/video'
            recipe:
              $ref: '#/components/schemas/recipe_reduced'
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - video_title
          - video
          - title
          additionalProperties: false
      required:
      - player
      - type
    feed_author_carousel_reduced:
      type: object
      properties:
        type:
          type: string
        author_carousel:
          $ref: '#/components/schemas/author_carousel_reduced'
      required:
      - type
      - author_carousel
    feed_reduced_pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/links'
        meta:
          $ref: '#/components/schemas/meta'
        data:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/feed_collection_reduced'
            - $ref: '#/components/schemas/feed_automated_reduced'
            - $ref: '#/components/schemas/feed_player_reduced'
            - $ref: '#/components/schemas/feed_voting'
            - $ref: '#/components/schemas/feed_author_carousel_reduced'
            - $ref: '#/components/schemas/feed_link'
            - $ref: '#/components/schemas/youtube_player'
            - $ref: '#/components/schemas/categories_collection'
            - $ref: '#/components/schemas/link_collection'
      required:
      - data
      - links
      - meta
    article_reduced:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        image:
          $ref: '#/components/schemas/image'
        author:
          $ref: '#/components/schemas/user_public_reduced'
        url:
          type: string
          format: uri
        publishing:
          $ref: '#/components/schemas/publishing'
        user_reactions:
          type: object
          properties:
            like_count:
              type: number
          required:
          - like_count
          - quality
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tag'
      required:
      - type
      - publishing
      - title
      - url
      - slug
      - user_reactions
      - author
      - id
      - image
    feed_automated_reduced:
      type: object
      properties:
        type:
          type: string
        automated:
          type: object
          properties:
            title:
              type: string
            content:
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/feed_article_reduced'
                - $ref: '#/components/schemas/feed_recipe_reduced'
            tabs:
              type: array
              items:
                type: string
            search:
              type: object
              properties:
                filters:
                  type: string
                index:
                  type: string
                query:
                  type: string
              required:
              - filters
              - index
              additionalProperties: false
            hide_for_web:
              type: boolean
            hide_for_app:
              type: boolean
          required:
          - title
          - content
          - search
          additionalProperties: false
      required:
      - automated
      - type
    recipe_ingredient:
      type: object
      properties:
        id:
          type: string
        name:
          type: object
          properties:
            rendered:
              type: string
            one:
              type: string
            many:
              type: string
          required:
          - rendered
          additionalProperties: false
        measurement:
          type: object
          properties:
            imperial:
              type: object
              properties:
                amount:
                  type: number
                unit:
                  oneOf:
                  - $ref: '#/components/schemas/legacy_unit'
                  - $ref: '#/components/schemas/unit'
              additionalProperties: false
            metric:
              type: object
              properties:
                amount:
                  type: number
                unit:
                  oneOf:
                  - $ref: '#/components/schemas/legacy_unit'
                  - $ref: '#/components/schemas/unit'
              additionalProperties: false
          additionalProperties: false
        characteristic:
          $ref: '#/components/schemas/characteristic'
        additional_information:
          $ref: '#/components/schemas/additional_information'
        is_divided:
          type: boolean
        is_partner:
          type: boolean
        is_searcheable:
          type: boolean
        url:
          type: string
      required:
      - name
    wagtail_meta:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        hreflang:
          type: object
          properties:
            en:
              type: string
              format: uri
            de:
              type: string
              format: uri
            zh:
              type: string
              format: uri
          required:
          - en
      required:
      - hreflang
      additionalProperties: false
    user_public:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - community
          - contributor
          - editor
        new_type:
          type: string
          enum:
          - community
          - contributor
          - editor
          - partner
          - external
        name:
          type: string
        slug:
          type: string
        occupation:
          type: string
        description:
          type: string
        image:
          $ref: '#/components/schemas/image'
          nullable: true
        banner_image:
          $ref: '#/components/schemas/image'
        wide_banner_image:
          $ref: '#/components/schemas/image'
        website:
          type: string
          format: uri
        is_premium:
          type: boolean
        created:
          type: string
          format: date-time
      required:
      - type
      - new_type
      - name
      - id
    poll_vote:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        image:
          $ref: '#/components/schemas/image'
        votes:
          type: number
      required:
      - id
      - votes
      - text
    feed_author_carousel:
      type: object
      properties:
        type:
          type: string
        author_carousel:
          $ref: '#/components/schemas/author_carousel'
      required:
      - type
      - author_carousel
    content_meta_external_product:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 37
        subtitle:
          type: string
          maxLength: 25
        image:
          type: string
          format: uri
        cta:
          type: string
          maxLength: 20
        url:
          type: string
          format: uri
      required:
      - image
      - url
      - title
    content_meta:
      type: object
      properties:
        key:
          type: string
        type:
          type: string
        value:
          oneOf:
          - $ref: '#/components/schemas/content_meta_external_link'
          - $ref: '#/components/schemas/content_meta_external_product'
          - $ref: '#/components/schemas/content_meta_faq'
          - $ref: '#/components/schemas/content_meta_markdown'
        campaign:
          type: string
        language:
          type: string
      required:
      - type
      - key
      - uuid
    tag:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        is_hidden:
          type: boolean
    author_carousel_reduced:
      type: object
      properties:
        title:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/author_reduced'
      required:
      - title
      - content
    collection_recipe_reduced:
      type: object
      properties:
        title:
          type: string
        subtitle:
          type: string
        type:
          type: string
        recipe:
          $ref: '#/components/schemas/recipe_reduced'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - title
      - recipe
    feed_pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/links'
        meta:
          $ref: '#/components/schemas/meta'
        data:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/feed_collection'
            - $ref: '#/components/schemas/feed_automated'
            - $ref: '#/components/schemas/feed_player'
            - $ref: '#/components/schemas/feed_voting'
            - $ref: '#/components/schemas/feed_author_carousel'
            - $ref: '#/components/schemas/feed_link'
            - $ref: '#/components/schemas/youtube_player'
            - $ref: '#/components/schemas/categories_collection'
            - $ref: '#/components/schemas/link_collection'
      required:
      - data
      - links
      - meta
    recipe:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        type:
          type: string
        content_id:
          type: string
        difficulty:
          type: string
        chefs_note:
          type: string
        image:
          $ref: '#/components/schemas/image'
          nullable: true
        author:
          $ref: '#/components/schemas/user_public'
        url:
          type: string
          format: uri
        duration:
          type: object
          properties:
            preparation:
              type: number
            baking:
              type: number
            resting:
              type: number
          required:
          - preparation
          - resting
          - baking
          nullable: true
        user_reactions:
          type: object
          properties:
            rating:
              type: number
            rating_count:
              type: number
            images:
              type: array
              items:
                $ref: '#/components/schemas/comment_image'
              maxItems: 4
            comments_count:
              type: number
            images_count:
              type: number
            like_count:
              type: number
            quality:
              type: number
          required:
          - comments_count
          - images_count
          - like_count
          - quality
        servings:
          type: object
          properties:
            amount:
              type: number
            type:
              type: string
          required:
          - amount
          - type
        nutrition:
          type: object
          properties:
            calories:
              type: number
            fat:
              type: number
            protein:
              type: number
            carbohydrate:
              type: number
          required:
          - protein
          - fat
          - calories
          - carbohydrate
        publishing:
          type: object
          properties:
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            published:
              type: string
              format: date-time
            state:
              type: string
              enum:
              - draft
              - submitted
              - rejected
              - live
              - expired
              - scheduled
          required:
          - created
          - updated
          - state
        meta:
          $ref: '#/components/schemas/wagtail_meta'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tag'
        content_meta:
          type: array
          items:
            $ref: '#/components/schemas/content_meta'
        categories:
          type: object
          properties:
            main:
              $ref: '#/components/schemas/category_simplified'
            additional:
              type: array
              items:
                $ref: '#/components/schemas/category_simplified'
        video:
          $ref: '#/components/schemas/video'
        howto_videos:
          type: array
          items:
            $ref: '#/components/schemas/video'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/step'
        utensils:
          type: array
          items:
            $ref: '#/components/schemas/recipe_utensil'
        ingredients:
          type: array
          items:
            type: object
            properties:
              list:
                type: array
                items:
                  $ref: '#/components/schemas/recipe_ingredient'
            required:
            - list
            additionalProperties: false
      required:
      - content_id
      - type
      - publishing
      - title
      - steps
      - slug
      - url
      - user_reactions
      - author
      - servings
      - ingredients
      - id
    feed_voting:
      type: object
      properties:
        type:
          type: string
        voting:
          type: object
          properties:
            title:
              type: string
            poll:
              $ref: '#/components/schemas/poll'
          required:
          - poll
          additionalProperties: false
      required:
      - type
      - voting
    content_meta_external_link:
      type: object
      properties:
        url:
          type: string
          format: uri
      required:
      - url
    publishing:
      type: object
      properties:
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        published:
          type: string
          format: date-time
        state:
          type: string
      required:
      - created
      - updated
      - state
      additionalProperties: false
    content_meta_carousel:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        content_meta_carousel:
          type: array
          items:
            $ref: '#/components/schemas/content_meta'
      required:
      - type
      - content_meta_carousel
    article_quote:
      type: object
      properties:
        type:
          type: string
        quote:
          type: object
          properties:
            text:
              type: string
            author:
              type: string
          required:
          - text
      required:
      - type
      - quote
      additionalProperties: false
    collection_article_reduced:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        subtitle:
          type: string
        article:
          $ref: '#/components/schemas/article_reduced'
        hide_for_web:
          type: boolean
        hide_for_app:
          type: boolean
      required:
      - type
      - title
      - article
      - subtitle
    collection_category:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        subtitle:
          type: string
        featured_search:
          $ref: '#/components/schemas/search_category'
      required:
      - featured_search
      - type
      - title
    path_item:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
      required:
      - id
      - slug
      - title
    article_video:
      type: object
      properties:
        type:
          type: string
        video:
          type: object
          properties:
            video:
              $ref: '#/components/schemas/video'
            subtitle:
              type: string
          required:
          - video
      required:
      - type
      - video
    article_shopping_tips:
      type: object
      properties:
        type:
          type: string
        shopping_tips:
          type: object
          properties:
            shopping_tips:
              type: array
              items:
                $ref: '#/components/schemas/article_simplified'
          required:
          - shopping_tips
      required:
      - type
      - shopping_tips
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Ultron-User
