{
  "openapi": "3.0.0",
  "info": {
    "version": "3",
    "title": "Kitchen Stories Internal API",
    "description": "",
    "contact": {
      "email": "hello@kitchenstories.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.kitchenstories.io/api",
      "description": "LIVE Environment"
    },
    {
      "url": "https://api.dev.kitchenstories.io/api",
      "description": "Development Environment"
    },
    {
      "url": "http://localhost:8000/api",
      "description": "Local Environment"
    }
  ],
  "tags": [],
  "paths": {
    "/articles/": {
      "get": {
        "summary": "List Articles",
        "operationId": "article-list",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "description": "Get articles by slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Get article type eg. 'article', 'essential', 'static_page', 'blogger_profile'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Get articles by tag eg. 'partner'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Get articles by given category slug eg. 'news'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Get articles in descending order of 'date' or 'likes'. Any other value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified article",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all articles",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/article_pagination"
                }
              }
            }
          }
        }
      }
    },
    "/articles/{uuid-or-slug}/": {
      "get": {
        "summary": "Details of given Article",
        "operationId": "article-detail",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "description": "Get article with the current draft",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified article",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Article with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/article"
                }
              }
            }
          },
          "404": {
            "description": "Article not found"
          }
        }
      }
    },
    "/articles/{uuid-or-slug}/recommendations/": {
      "get": {
        "summary": "List Recommendations for given Article uuid or slug",
        "operationId": "article-recommendation-list",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified article schema",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Articles Paginated List with Recommendations",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/article_pagination"
                }
              }
            }
          },
          "404": {
            "description": "Article not found"
          }
        }
      }
    },
    "/articles/{uuid-or-slug}/content-meta/": {
      "get": {
        "summary": "Content meta of given Article",
        "operationId": "article-detail-content-meta",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get content meta for Article with the specific uuid. The returned entries will be ordered by descending updated date.",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/content_meta_list"
                }
              }
            }
          },
          "404": {
            "description": "Article not found"
          }
        }
      },
      "post": {
        "summary": "Add a new content meta",
        "operationId": "article-content-meta-create",
        "tags": [
          "Articles Admin"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/content_meta_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get content meta for Article with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/content_meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014\u00a0user does not have editor permissions"
          },
          "404": {
            "description": "Article not found"
          }
        }
      },
      "put": {
        "summary": "Edit an existing content meta",
        "operationId": "article-content-meta-edit",
        "tags": [
          "Articles Admin"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "unique key of Content Meta to edit. Not mandatory since it can also be passed in the request body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/content_meta_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The edited content meta for Article with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/content_meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014\u00a0user does not have editor permissions"
          },
          "404": {
            "description": "Article not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a content meta by key",
        "operationId": "article-content-meta-delete",
        "tags": [
          "Articles Admin"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "unique key of Content Meta to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "language code of the content meta to delete. If not provided, it will delete in all languages available.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A confirmation or error deleting the target content meta"
          },
          "403": {
            "description": "Forbidden \u2014\u00a0user does not have editor permissions"
          },
          "404": {
            "description": "Article or Content Meta key not found"
          }
        }
      }
    },
    "/users/me/external-recipes/": {
      "get": {
        "summary": "List all external recipes saved by the user",
        "operationId": "external-recipes-list",
        "tags": [
          "User External Recipes"
        ],
        "responses": {
          "200": {
            "description": "Get all items (external recipes) from the logged in user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe_pagination"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add saved-external-recipe uuid or url into the user's external recipes",
        "operationId": "external-recipes-create",
        "tags": [
          "User External recipes"
        ],
        "requestBody": {
          "description": "The saved-external-recipe uuid or url of recipe to extract and save - if url or id is already saved, it will be returned",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/cookbook_recipes_add_json"
                  },
                  {
                    "$ref": "#/components/schemas/cookbook_externalrecipes_add_json"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      }
    },
    "/users/me/external-recipes/{external-recipe-id}/": {
      "get": {
        "summary": "Get saved external recipe data from the user's external recipes list",
        "operationId": "external-recipes-get",
        "tags": [
          "User External Recipes"
        ],
        "parameters": [
          {
            "name": "external-recipe-id",
            "in": "path",
            "description": "External Recipe ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. When recipe is not found"
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      },
      "delete": {
        "summary": "Remove saved external recipe from the user's external recipes",
        "operationId": "external-recipes-delete",
        "tags": [
          "User External Recipes"
        ],
        "parameters": [
          {
            "name": "external-recipe-id",
            "in": "path",
            "description": "External Recipe ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. When recipe is not found"
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      }
    },
    "/indexer/recipe/{uuid}/": {
      "get": {
        "summary": "Index the given recipe in algolia",
        "operationId": "indexer-recipe",
        "tags": [
          "Indexer"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Recipe uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note that this endpoint triggers an async request to the indexer - it returns without error even if the indexation fails",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/indexer/article/{uuid}/": {
      "get": {
        "summary": "Index the given Article in algolia",
        "operationId": "indexer-article",
        "tags": [
          "Indexer"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Article uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note that this endpoint triggers an async request to the indexer - it returns without error even if the indexation fails",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/indexer/video/{uuid}/": {
      "get": {
        "summary": "Index the given video in algolia",
        "operationId": "indexer-video",
        "tags": [
          "Indexer"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Video uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note that this endpoint triggers an async request to indexer - it returns without error even if the indexation fails",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/rating/": {
      "get": {
        "summary": "List all ratings for currently authenticated user",
        "operationId": "rating-list",
        "tags": [
          "User Ratings"
        ],
        "responses": {
          "200": {
            "description": "Get all Ratings",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/rating_pagination"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Rating on the given feed-item for the currently authenticated user",
        "operationId": "rating-create",
        "tags": [
          "User Ratings"
        ],
        "requestBody": {
          "description": "feed_items-uuid and rating (normalized) from 0-1",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rating_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When user feed-item does not exists"
          }
        }
      }
    },
    "/users/me/rating/{feeditem-uuid}/": {
      "put": {
        "summary": "Updates a given feed-item rating for the currently authenticated user",
        "operationId": "rating-update",
        "tags": [
          "User Ratings"
        ],
        "parameters": [
          {
            "name": "feeditem-uuid",
            "in": "path",
            "description": "Feed Item uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "feed_items-uuid and rating (normalized) from 0-1",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rating_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When user feed-item does not exists"
          }
        }
      }
    },
    "/recipes/": {
      "get": {
        "summary": "List Recipes",
        "operationId": "recipe-list",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "description": "Get recipe by slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Get recipe type eg. 'recipe', 'howto', 'community'. Any other value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Get recipe by tag eg. 'partner'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Get recipes by given category slug eg. 'pizza-recipes'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Get recipes in descending order of 'date' or 'likes'. Any other value is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "craft_ids",
            "in": "query",
            "description": "Get recipe by separated content_ids eg. 'R1234,R2345'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified recipe schema",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all recipes",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe_pagination"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{uuid-or-slug}/": {
      "get": {
        "summary": "Details of given Recipe",
        "operationId": "recipe-detail",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the recipe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "description": "Get submitted user recipe or wagtail recipe with latest revision",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified recipe",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Recipe with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe"
                }
              }
            }
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      }
    },
    "/recipes/{uuid-or-slug}/recommendations/": {
      "get": {
        "summary": "List Recommendations for given Recipe uuid or slug",
        "operationId": "recipe-recommendation-list",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the recipe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified recipe schema",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All recipes",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe_pagination"
                }
              }
            }
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      }
    },
    "/recipes/{uuid-or-slug}/content-meta/": {
      "get": {
        "summary": "Content meta of given Recipe",
        "operationId": "recipe-detail-content-meta",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the recipe",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get content meta for Recipe with the specific uuid. The items will be ordered by descending updated date",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/content_meta_list"
                }
              }
            }
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      },
      "post": {
        "summary": "Add a new content meta",
        "operationId": "recipe-content-meta-create",
        "tags": [
          "Recipes Admin"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the recipe",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/content_meta_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit an existing content meta for Recipe with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/content_meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014\u00a0user does not have editor permissions"
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      },
      "put": {
        "summary": "Edit an existing content meta",
        "operationId": "recipe-content-meta-edit",
        "tags": [
          "Recipes Admin"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the recipe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "unique key of Content Meta to edit. Non mandatory as it can be also passed via the body of the request",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/content_meta_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create new content meta for Recipe with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/content_meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014\u00a0user does not have editor permissions"
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a content meta by key",
        "operationId": "recipe-content-meta-delete",
        "tags": [
          "Recipes Admin"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the recipe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "unique key of Content Meta to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "the language code of the content meta to delete. If not provided, the content meta will be deleted in all languages",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A confirmation or error deleting the target content meta"
          },
          "403": {
            "description": "Forbidden \u2014\u00a0user does not have editor permissions"
          },
          "404": {
            "description": "Recipe or Content Meta key not found"
          }
        }
      }
    },
    "/recipes/send_email_with_recipes/": {
      "get": {
        "summary": "Send E-Mail with List of Recipes for the currently authenticated User",
        "operationId": "recipe-send-email-with-recipes",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Recipes UUID separated by **,** eg. '56050eb4-4a6e-4165-940f-b5d4ab70db92,7bd8e39c-c3af-4164-89fb-ddc2524993bb'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull"
          }
        }
      }
    },
    "/recipe-of-the-day/": {
      "get": {
        "summary": "Get current Recipe Of the Day",
        "operationId": "recipe-of-the-day",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Preview Date of the recipe",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Recipe of the day",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe"
                }
              }
            }
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      }
    },
    "/report/abuse/": {
      "post": {
        "summary": "Report abuse for Comment or User",
        "operationId": "abuse-create",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "description": "installation.id + (comment.id or user.id) + reason",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/report_abuse_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/likes/": {
      "get": {
        "deprecated": true,
        "summary": "replaced with  `users/me/likes/feed-items/`",
        "operationId": "likes-list-old",
        "tags": [
          "User Likes"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Returns a list with `feeditem-ids` only.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all liked articles or recipes from current user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/feeditem_pagination"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/likes/feed-items/": {
      "get": {
        "summary": "List likes for currently authenticated user",
        "operationId": "likes-list",
        "tags": [
          "User Likes"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Returns a list with `feeditem-ids` only.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all liked articles or recipes from currently authenticated user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/feeditem_pagination"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Like a Recipe or Article",
        "operationId": "like-create",
        "tags": [
          "User Likes"
        ],
        "requestBody": {
          "description": "Article or Recipe `feed_items`-uuid",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_recipes_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/users/me/likes/feed-items/{feeditem-uuid}/": {
      "delete": {
        "summary": "Delete Like on the given feed-item for currently authenticated user",
        "operationId": "like-delete",
        "tags": [
          "User Likes"
        ],
        "parameters": [
          {
            "name": "feeditem-uuid",
            "in": "path",
            "description": "Feed Item (Recipe or Article) uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/users/me/likes/comments/": {
      "get": {
        "summary": "List Comment Likes for currently authenticated user",
        "operationId": "likes-comment-list",
        "tags": [
          "User Comment Likes"
        ],
        "responses": {
          "200": {
            "description": "Get all liked articles or recipes for currently authenticated user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/comment_pagination"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Like a given comment for the currently authenticated user",
        "operationId": "like-comment-create",
        "tags": [
          "User Comment Likes"
        ],
        "requestBody": {
          "description": "comment-uuid",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_likes_comment_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Comment does not exists"
          }
        }
      }
    },
    "/users/me/likes/comments/{comment-uuid}/": {
      "delete": {
        "summary": "Delete Like of given Comment for currently authenticated user",
        "operationId": "like-comment-delete",
        "tags": [
          "User Comment Likes"
        ],
        "parameters": [
          {
            "name": "comment-uuid",
            "in": "path",
            "description": "Comment uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Comment does not exists"
          }
        }
      }
    },
    "/upload/image/": {
      "post": {
        "summary": "Upload an JPEG image for the currently authenticated user",
        "operationId": "upload-image",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "description": "An `JPG` image-binary with form-data. Other formats will be rejected. No validation for dimensions or sizes.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/user_public_upload_image"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful or errors-list",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/image"
                    },
                    {
                      "$ref": "#/components/schemas/errors"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      }
    },
    "/upload/video/": {
      "post": {
        "summary": "Upload a video for the currently authenticated user",
        "operationId": "upload-video",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "description": "Any binary with form-data less than 500MB. No other validations.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/user_public_upload_video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful or errors-list",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/video"
                    },
                    {
                      "$ref": "#/components/schemas/errors"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      }
    },
    "/users/me/mealplan/": {
      "get": {
        "summary": "Get all meal plan items for the currently authenticated user",
        "operationId": "mealplan-list",
        "tags": [
          "User Meal Plan"
        ],
        "parameters": [
          {
            "name": "week",
            "in": "query",
            "description": "Calendar week number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Year",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with meal plan items",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/mealplan"
                }
              }
            }
          },
          "403": {
            "description": "User not authenticated"
          }
        }
      },
      "post": {
        "summary": "Create a meal plan item for the currently authenticated user",
        "operationId": "mealplan-create",
        "tags": [
          "User Meal Plan"
        ],
        "requestBody": {
          "description": "Feed item is mandatory. Either target_date or year and calendar_week must be provided.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mealplan_add_json"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/mealplan_item"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      }
    },
    "/users/me/mealplan/{mealplan-item-uuid}/": {
      "get": {
        "summary": "Get the given meal plan item for the currently authenticated user",
        "operationId": "mealplan-detail",
        "tags": [
          "User Meal Plan"
        ],
        "parameters": [
          {
            "name": "mealplan-item-uuid",
            "in": "path",
            "description": "Meal plan item uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get this Meal Plan item details",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/mealplan_item"
                }
              }
            }
          },
          "404": {
            "description": "Meal plan item not found"
          }
        }
      },
      "put": {
        "summary": "Update a Meal Plan item for the currently authenticated User",
        "operationId": "mealplan-update",
        "tags": [
          "User Meal Plan"
        ],
        "parameters": [
          {
            "name": "mealplan-item-uuid",
            "in": "path",
            "description": "Meal plan item uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updates the meal plan item",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mealplan_update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/mealplan_item"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "Meal plan item not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a Meal Plan item for the currently authenticated User",
        "operationId": "mealplan-delete",
        "tags": [
          "User Meal Plan"
        ],
        "parameters": [
          {
            "name": "mealplan-item-uuid",
            "in": "path",
            "description": "Meal plan item uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Operation successful"
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Meal Plan item does not exist"
          }
        }
      }
    },
    "/users/comments/": {
      "get": {
        "summary": "List User Comments",
        "operationId": "comment-list",
        "tags": [
          "User Comments"
        ],
        "parameters": [
          {
            "name": "feed_item",
            "in": "query",
            "description": "Get comments for the specific feed-item",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Get all answers for the given parent comment uuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_feed_item",
            "in": "query",
            "description": "Embed the feeditem in the comment",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all comments (with optionally embedded articles or recipes) from the current user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/comment_pagination"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new comment",
        "operationId": "comment-create",
        "tags": [
          "User Comments"
        ],
        "requestBody": {
          "description": "feed_item + parent is feed_item-uuid or parent-comment-uuid. Provide `feed_item` or `parent`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/comment_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/comment"
                    },
                    {
                      "$ref": "#/components/schemas/errors"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/users/comments/images/": {
      "get": {
        "summary": "Get user image comments",
        "operationId": "comment-images-list",
        "tags": [
          "User Comments"
        ],
        "parameters": [
          {
            "name": "feed_item",
            "in": "query",
            "description": "Get comments for the specific feed-item",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all image comments from the current user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/comment_image_pagination"
                }
              }
            }
          }
        }
      }
    },
    "/users/comments/{comment-uuid}/images/": {
      "post": {
        "summary": "Attach an image to a comment",
        "operationId": "comment-image",
        "tags": [
          "User Comments"
        ],
        "parameters": [
          {
            "name": "comment-uuid",
            "in": "path",
            "description": "Comment uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Image is a http-form-url-encoded image",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/user_public_update_image"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/comment_image_create"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Comment does not exists"
          }
        }
      }
    },
    "/users/{uuid-or-slug}/cookbooks/": {
      "get": {
        "summary": "Get all public cookbooks of the given partner or editor user",
        "operationId": "public-cookbook-list",
        "tags": [
          "User Public Cookbooks"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "User uuid or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all Public Cookbooks",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/cookbook_pagination"
                }
              }
            }
          },
          "404": {
            "description": "User not found or not able to display public cookbooks (not editor nor partner type)"
          }
        }
      }
    },
    "/users/{uuid-or-slug}/cookbooks/{cookbook-uuid}/": {
      "get": {
        "summary": "Get details for given cookbook from partner or editor user",
        "operationId": "public-cookbook-detail",
        "tags": [
          "User Public Cookbooks"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "User uuid or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Coookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search through cookbooks by title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cookbook details",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/cookbook"
                }
              }
            }
          },
          "404": {
            "description": "User or Public Cookbook not found (Not public, empty or not existant)"
          }
        }
      }
    },
    "/users/{uuid-or-slug}/cookbooks/{cookbook-uuid}/recipes/": {
      "get": {
        "summary": "Get recipes for this public user cookbook",
        "operationId": "public-cookbook-recipes-list",
        "tags": [
          "User Public Cookbooks"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "User uuid or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all Recipes for the given cookbook",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/feeditem_pagination"
                }
              }
            }
          },
          "404": {
            "description": "User or Public Cookbook not found (Not public, empty or not existant)"
          }
        }
      }
    },
    "/users/{uuid-or-slug}/cookbooks/{cookbook-uuid}/items/": {
      "get": {
        "summary": "Get feed items (recipes and articles) for this public user cookbook",
        "operationId": "public-cookbook-items-list",
        "tags": [
          "User Public Cookbooks"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "User uuid or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Coookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search through cookbooks by title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all Feed-Items (Recipes or Articles) from the given cookbook",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/feeditem_pagination"
                }
              }
            }
          },
          "404": {
            "description": "User or Public Cookbook not found"
          }
        }
      }
    },
    "/users/me/cookbooks/": {
      "get": {
        "summary": "Get all cookbooks for the currently authenticated user",
        "operationId": "cookbook-list",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "feed_item",
            "in": "query",
            "description": "A feed item (article or recipe) uuid. If passed, will only return cookbooks whose item is saved in",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search through cookbooks by title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a paginated list of Cookbooks",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/cookbook_pagination"
                }
              }
            }
          },
          "403": {
            "description": "User not authenticated"
          }
        }
      },
      "post": {
        "summary": "Create a cookbook for the currently authenticated user User",
        "description": "Image is the image-uuid for cover-image",
        "operationId": "cookbook-create",
        "tags": [
          "User Cookbooks"
        ],
        "requestBody": {
          "description": "Title is mandatory. `feed_items` is deprecated - use `feed_item_id` for internal feeditem or `external_url` for external recipe. user `feed_item_id` for existing external-recipe.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/cookbook"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      }
    },
    "/users/me/cookbooks/{cookbook-uuid}/": {
      "get": {
        "summary": "Get the given cookbook for the currently authenticated user",
        "operationId": "cookbook-detail",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get this Cookbook details",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/cookbook"
                }
              }
            }
          },
          "404": {
            "description": "Cookbook not found"
          }
        }
      },
      "put": {
        "summary": "Update a Cookbook for the currently authenticated User",
        "description": "Image is the image-uuid for cover-image",
        "operationId": "cookbook-update",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updates the title for the cookbook",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_change_title"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      },
      "delete": {
        "summary": "Delete a Cookbook for the currently authenticated User",
        "operationId": "cookbook-delete",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/users/me/cookbooks/{cookbook-uuid}/recipes/": {
      "get": {
        "deprecated": true,
        "summary": "See `/users/me/cookbooks/cookbook-uuid/items/`. This endpoints return internal recipes and articles only)\n",
        "operationId": "cookbook-get-recipes-list",
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": [
          "UserCookbooksRecipes"
        ],
        "responses": {
          "200": {
            "description": "See `/users/me/cookbooks/cookbook-uuid/items/`"
          }
        }
      },
      "post": {
        "deprecated": true,
        "summary": "See `/users/me/cookbooks/{cookbook-uuid}/items/` this endpoint adds internal recipes and articles only\n",
        "operationId": "cookbook-create-ecipes-list",
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": [
          "UserCookbooksRecipes"
        ],
        "responses": {
          "200": {
            "description": "See `/users/me/cookbooks/{cookbook-uuid}/items/`"
          }
        }
      }
    },
    "/users/me/cookbooks/{cookbook-uuid}/recipes/{feeditem-uuid}/": {
      "put": {
        "deprecated": true,
        "summary": "See `/users/me/cookbooks/cookbook-uuid/items/feeditem-uuid`. Move an internal recipe or article from one cookbook to another\n",
        "operationId": "cookbook-recipe-move",
        "tags": [
          "UserCookbooksRecipes"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "feeditem-uuid",
            "in": "path",
            "description": "Internal Article or Recipe uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The returned id is the new cookbook-uuid",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_update_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      },
      "delete": {
        "deprecated": true,
        "summary": "See `/users/me/cookbooks/cookbook-uuid/items/feeditem-uuid`. Delete an internal recipe or article from a cookbook\n",
        "operationId": "cookbook-recipe-delete",
        "tags": [
          "UserCookbooksRecipes"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "feeditem-uuid",
            "in": "path",
            "description": "Internal Recipe or Article uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/users/me/cookbooks/{cookbook-uuid}/items/": {
      "get": {
        "summary": "List all items for the given cookbook",
        "operationId": "cookbook-items-list",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search through items of this cookbook by title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all items (internal recipes, external recipes and articles) from the given cookbook",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/feeditem_pagination"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Internal Recipe, Article or saved-external-recipe to the given cookbook",
        "operationId": "cookbook-item-create",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The Article, Internal Recipe or saved-external-recipe uuid - can not already have item with this id in cookbook",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_recipes_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exist"
          }
        }
      }
    },
    "/users/me/cookbooks/{cookbook-uuid}/external-items/": {
      "post": {
        "summary": "Add an external recipe to the given cookbook",
        "operationId": "cookbook-external-recipes-create",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "URL of the external recipe - can not already have recipe with this url in cookbook",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_externalrecipes_add_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful - recipe payload returned",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/recipe"
                }
              }
            }
          },
          "202": {
            "description": "Operation successful - recipe is being fetched. Rerun the request to get the recipe."
          },
          "403": {
            "description": "Forbidden. When user is not logged in or does not have permission to run the operation (not premium)"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/users/me/cookbooks/{cookbook-uuid}/items/{item-uuid}/": {
      "put": {
        "summary": "Move an item from the given cookbook to another",
        "operationId": "cookbook-item-move",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Origin Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "item-uuid",
            "in": "path",
            "description": "Item uuid (external recipe, internal recipe or article) - id can not already be in new cookbook",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "id should be the destination cookbook-uuid",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cookbook_update_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          }
        }
      },
      "delete": {
        "summary": "Delete an item from the given cookbook",
        "operationId": "cookbook-item-delete",
        "tags": [
          "User Cookbooks"
        ],
        "parameters": [
          {
            "name": "cookbook-uuid",
            "in": "path",
            "description": "Cookbook uuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "item-uuid",
            "in": "path",
            "description": "Item uuid (external recipe, internal recipe or article)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successfull",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. When user is not logged in"
          },
          "404": {
            "description": "NotFound. When Cookbook does not exists"
          }
        }
      }
    },
    "/shopping-tips/": {
      "get": {
        "tags": [
          "Shopping Tips (Affiliate Pages)"
        ],
        "summary": "Get shopping tips grouped by categories",
        "description": "Returns a paginated list of categories containing shopping tips.\nEach category includes its basic information and a list of associated shopping tips (if not in simplified output mode).\n",
        "parameters": [
          {
            "name": "tips_per_category",
            "in": "query",
            "description": "Number of tips to return per category",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 4
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Return simplified version (just categories, no tips per category)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Shopping Tips (Affiliate Pages)",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/shopping_tips_list"
                }
              }
            }
          }
        }
      }
    },
    "/shopping-tips/{category_slug}/": {
      "get": {
        "tags": [
          "Shopping Tips (Affiliate Pages)"
        ],
        "summary": "Get shopping tips for a specific category",
        "description": "Returns a paginated list of shopping tips for the specified category",
        "parameters": [
          {
            "name": "category_slug",
            "in": "path",
            "description": "Slug of the category",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Return simplified version of articles",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Shopping Tip (Article) with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/shopping_tips_category"
                }
              }
            }
          },
          "404": {
            "description": "Shopping Tip (Article) not found"
          }
        }
      }
    },
    "/shopping-tips/{category_slug}/{uuid-or-slug}/": {
      "get": {
        "summary": "Details of given Shopping Tip",
        "operationId": "shopping-tip-detail",
        "tags": [
          "Shopping Tips (Affiliate Pages)"
        ],
        "parameters": [
          {
            "name": "uuid-or-slug",
            "in": "path",
            "description": "id or slug of the shopping tip (article)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_slug",
            "in": "path",
            "description": "slug of the shopping tip (article)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "description": "Get a shopping tip (article) with the current draft",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "simplified",
            "in": "query",
            "description": "Get simplified shopping tip (article)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Shopping Tip (Article) with the specific uuid",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/article"
                }
              }
            }
          },
          "404": {
            "description": "Shopping Tip (Article) not found"
          }
        }
      }
    },
    "/personalization/": {
      "get": {
        "summary": "Get personalization flags for user (or preferences set)",
        "operationId": "personalization-get",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the flags for personalization",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Obtain a preferences set (for logged out preferences usage)",
        "operationId": "personalization-post",
        "tags": [
          "Personalization"
        ],
        "requestBody": {
          "description": "When calling this endpoint with a logged out user, it will generate and create a new preferences set and return an uuid. This uuid can be used to set the preferences. If you call this endpoint with a logged in user, you will obtain the same result as calling the GET endpoint.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a new personalization set for a logged out user, or the existing personalization set for a logged in user",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update personalization flags for user (or preferences set)",
        "operationId": "personalization-put",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "--",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payload with the flags to update and their values",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization"
                }
              }
            }
          },
          "404": {
            "description": "Preferences set not found (when user logged out)"
          }
        }
      }
    },
    "/personalization/preferences/": {
      "get": {
        "summary": "Get a list of personalization preferences",
        "operationId": "personalizationpreferences-get",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current preferences and their values",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_preference_paginated"
                }
              }
            }
          },
          "404": {
            "description": "Preferences set not found (when user logged out)"
          }
        }
      },
      "post": {
        "summary": "Insert a new personalization preference",
        "operationId": "personalizationpreferences-post",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A uuid identifying an option and an array of value uuids",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_preference_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_preference"
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorized. When provided preferences set does not belong to user"
          }
        }
      }
    },
    "/personalization/preferences/{uuid}/": {
      "get": {
        "summary": "Get a single personalization preference by uuid",
        "operationId": "personalizationpreferences-get-by-uuid",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for preference",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_preference"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When preference does not exist or does not belong to user/set"
          }
        }
      },
      "put": {
        "summary": "Update a single preference",
        "operationId": "personalizationpreferences-put-by-uuid",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for preference",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "--",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_preference_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation Successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_preference"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When preference does not exist or does not belong to user/set"
          }
        }
      },
      "delete": {
        "summary": "Delete a single preference",
        "operationId": "personalizationpreferences-delete-by-uuid",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for preference",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "set",
            "description": "The uuid of a Preferences Set (for logged-out usage)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When preference does not exist"
          }
        }
      }
    },
    "/personalization/options/": {
      "get": {
        "summary": "Get a list of available personalization options (and their values)",
        "operationId": "personalizationoptions-get",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "name": "show_all",
            "in": "query",
            "description": "Show all options in the system (even those without values)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of options with associated available values",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_option_paginated"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Insert a new personalization option",
        "operationId": "personalizationoptions-post",
        "tags": [
          "Personalization Admin"
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_option_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorized. When user does not have permsission for this operation (editor only)"
          }
        }
      }
    },
    "/personalization/options/{uuid}/": {
      "get": {
        "summary": "Get a single option information by its uuid",
        "operationId": "personalizationoptions-get-by-uuid",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for option",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the informatiom about the queried option",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_option"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. Option with given uuid does not exist"
          }
        }
      },
      "put": {
        "summary": "Globally update an option information",
        "operationId": "personalizationoptions-put-by-uuid",
        "tags": [
          "Personalization Admin"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for option",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_option_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful or detailed errors in case of failure",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When option does not exist"
          },
          "403": {
            "description": "NotAuthorized. When user does not have permission for this operation (only editor)"
          }
        }
      },
      "delete": {
        "summary": "Globally delete an option",
        "operationId": "personalizationoptions-delete-by-uuid",
        "tags": [
          "Personalization Admin"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for option",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/form_response"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When option does not exist"
          },
          "403": {
            "description": "NotAuthorized. When user does not have permission for this operation (only editor)"
          }
        }
      }
    },
    "/personalization/options/{uuid}/values/": {
      "get": {
        "summary": "Get available values for a given option uuid",
        "operationId": "personalizationoptions-values-get",
        "tags": [
          "Personalization"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for option",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of available values",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_option_value_paginated"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When option does not exist"
          }
        }
      },
      "post": {
        "summary": "Create a new value for an option",
        "operationId": "personalizationoptions-values-post",
        "tags": [
          "Personalization Admin"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier for option",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The authenticated user must be of the type \"editor\" and have CMS access",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personalization_option_value_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/vnd.ajns.kitchenstories+json; version=3": {
                "schema": {
                  "$ref": "#/components/schemas/personalization_option_value"
                }
              }
            }
          },
          "404": {
            "description": "NotFound. When option does not exist"
          },
          "403": {
            "description": "NotAuthorized. When user does not have permission for this operation (only editor)"
          }
        }
      }
    },
    "/personalization/options/{option-uuid}/values/{value-uuid}/": {
[...]
